.header h2
{
  flex-direction:inline;
  display:flex;
  justify-content:center;
  font-size:30px;
  padding-top:rem;
}

.header h1
{
  margin-bottom:10rem;
  padding-top:1rem;
  padding-left:2.9rem;
}

.para p
{
  text-align:center;
  max-width:95%;
}

.format_img img
{
  width:100%;
}

.format_img 
{
  margin-top:10rem;
}

.edu_sec
{
  display:flex;
}
.edu_sec p
{
  padding-top:7rem;
  padding-left:9rem;
}

.edu_sec h2
{
  padding-top:6.3rem;
}
.edu p
{
padding-left:16rem;
}

.awards
{
  display:flex;
  padding-top:6rem;
}

.awards p
{
  padding-top:10px;
  padding-left:11rem;
}

.award p
{
  padding-left:16rem;
}

.award2
{
  padding-left:16rem;
  padding-top:0.2rem;
}

.li_elements ul 
{

  list-style-type:none;
}

.footer
{
  display:flex;
}

.f_text
{
  padding-top:6rem;
  padding-left:5rem;
  padding-bottom:6rem;
}

.li_elements
{
  margin-top:4rem;
  padding-bottom:9rem;
}

.li_elements ul li
{
  padding-top:1rem;
}

.nav_bar
{
display:flex;
 justify-content:flex-end;
 flex-direction:row;
  padding:12px 18px;;
 }

.nav_bar a
{
 
 font-weight:bold;
 text-decoration:none;
 text-transform:uppercase;
 
}

.header h2
{
 font-size:20px;
 padding-right:75%;
}

.bio_a 
{
padding-left:2rem;
}

*
{
 padding:0px;
 margin:0px;
 box-sizing:border-box;
}

.h2
{
margin-top:2rem;
}

.intro_line
{
margin-top:5rem;
text-align:center;
}